body {
  background: #3B3B3B;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

/* SWITCH STYLING */

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 22px;
	background: #fff;
	display: block;
	border-radius: 50px;
	position: relative;
  bottom: 8px;
}

label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background: #3B3B3B;
	border-radius: 90px;
	transition: 0.4s;
}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 100px;
}

.margin-def{
  margin: 15px 20px auto 20px;
  color: #fff;
}

.nav-item {
  margin: auto 20px;
}

.navbar {
  padding: 3% 15% 7%;
}

/*
.dark-theme {
  position: relative;
  top: 20px;
  left: 150px;
  font-size: 20px;
  color: #fff;
}

.bright-theme {
  position: relative;
  left: 10px;
  top: 20px;
  font-size: 20px;
  color: #fff;
}

.switch-position {
  position: relative;
  left: 70px;
  bottom: 50px;
} */

/* // centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */
